.App {
  /* text-align: center; */
  /* height: 100vh; */
  /* margin: 0 auto; */
  /* max-width: 40%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: start; */
  /* padding-top: 20px; */
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  justify-content: center;
  align-items: center; /* Center items horizontally */
  padding-top: 20px;
}

.container {
  width: 100%;
  height: 80%;
  margin: 20px auto; /* Add margin to center the container */
  border: 1px solid grey;
  padding: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column; /* Set flex direction to column */
}

.pane-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  padding-top: 20px;
  max-height: 100%;
}

.left-pane, 
.right-pane {
  padding-bottom: 20px;
  flex: 1;
  box-sizing: border-box;
}

.left-pane {
  padding-right: 10px;
}

.right-pane {
  padding-left: 10px;
}

.left-subheader,
.right-subheader, {
  flex: 1;
  display: flex;
  flex-direction: column;
}
