.subheader {
  border: 1px solid grey;
}

.left-subheader {
  min-height: 100%;
}

.right-subheader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  border-bottom: 1px solid grey;
  border-radius: 5px;
}

.custom-component {
  padding: 10px;
  text-align: left;
}
